<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/fonts/AtkinsonHyperlegible.css"/>
    <link rel="stylesheet" href="../static/fonts/RobotoMono.css"/>
    <link rel="stylesheet" href="../static/style.css"/>
    <script src="../static/scripts/socket.io.js"></script>
    <script type="module" src="../static/scripts/main.js"></script>
</head>
<body>
    <div id="top-bar">
        <img id="icon" src="../static/images/icon-small.png"/>
        <span id="icon-text">KDriver Station</span>
    </div>
    <div id="container">
        <div id="left">
            <div id="img-container">
                <img id="img-stream"  src="{{ url_for('stream') }}" onerror="this.src='../static/images/no-cam.png'"></img>
            </div>
            <div id="ws-logs-container">
                <table id="ws-logs-header" class="head">
                    <tr>
                        <td style="width: 15%;">Time</td>
                        <td style="width: 10%;">Code</td>
                        <td style="width: 75%;">Message</td>
                    </tr>
                </table>
                <div class="inner-table">
                <table>
                    <tr>
                        <td style="width: 15%;">12:12:12</td>
                        <td style="width: 10%;">404</td>
                        <td style="width: 75%;">test msg</td>
                    </tr>
                </table>
                </div>
                <div class="table-footer"></div>
            </div>
        </div>
        <div id="mid"></div>
        <div id="right">
            <canvas id="canvas" style="width: 100%; aspect-ratio: 2.5; background-color: var(--dark2);"></canvas>
        </div>
    </div>
</body>
</html>