<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/fonts/AtkinsonHyperlegible.css"/>
    <link rel="stylesheet" href="../static/fonts/RobotoMono.css"/>
    <link rel="stylesheet" href="../static/style.css"/>
    <script src="../static/scripts/socket.io.js"></script>
    <script src="../static/scripts/point.js"></script>
    <script type="text/javascript">
        const yellow = "#ecf542"
        const lightBlue = "#7cd5f1";
        const darkBlue = "#2a4552";
        const red = "#f72858";
        const white = "#ffffff";
        
        var socket = io();
        let points = [new Point(0, 0)];
        let heading = 0;
        let obstacles = []
        // setInterval(function() {
        //     if (socket.connected) {
        //         socket.emit('pos', {});
        //     }
        // }, 20)

        socket.on('pos', function(msg) {
            let data = JSON.parse(msg.data);
            var table = document.getElementsByClassName("inner-table").item(0).firstElementChild;
            var row = table.insertRow(0);
            var tsCell = row.insertCell(0);
            var codeCell = row.insertCell(1);
            var msgCell = row.insertCell(2);
            
            tsCell.style.width = "15%";
            codeCell.style.width = "10%";
            msgCell.style.width = "75%";

            tsCell.innerHTML = new Date().toLocaleTimeString([], { hour: "2-digit", minute: "2-digit", second: "2-digit", hour12: false });
            codeCell.innerHTML = "1";
            msgCell.innerHTML = msg.data;

            while (table.rows.length > 10) {
                table.deleteRow(table.rows.length - 1);
            }

            if (!points.includes(new Point(-data[0], -data[1]))) {
                points.push(new Point(-data[0], -data[1]));
                // points = points.slice(-50);
            }
            heading = data[2];
        });
        
        window.onload = function() {
            const canvas = document.getElementById("canvas");
            const ctx = canvas.getContext("2d");
            const pxToFeet = 20;
            const robotSize = [28, 32];
            const screenSpaceToWorldSpace = (point) => {
                return Point.add(Point.mul(point, pxToFeet), new Point(canvas.width/2, canvas.height/2));
            }
            let canvasWidthUnits = canvas.width/pxToFeet;
            let canvasHeightUnits = canvas.height/pxToFeet;
            
            socket.emit('obstacle', {});
            socket.on('obstacle', function(msg) {
                let data = JSON.parse(msg.data);
                obstacles = data.map(x => new Polygon(x.map(p => screenSpaceToWorldSpace(Point.fromArray([-p[1] / 12, p[0] / 12])))));
            });

            function drawLine(a, b) {
                ctx.beginPath();
                ctx.moveTo(a.x, a.y);
                ctx.lineTo(b.x, b.y);
                ctx.stroke();
                ctx.closePath();
            }
            function drawTri(p, width, height, angle) {
                ctx.translate(p.x, p.y);
                ctx.rotate(angle);
                ctx.beginPath();
                ctx.moveTo(0, 0);
                ctx.lineTo(height, 0);
                ctx.lineTo(0, width);
                ctx.lineTo(-height, 0);
                ctx.fill();
                ctx.closePath();
                ctx.resetTransform();
            }
            function drawRobot(p, angle) {
                ctx.translate(p.x, p.y);
                ctx.rotate(angle);
                ctx.beginPath();
                ctx.moveTo(0, 0);
                ctx.lineTo(5, 0);
                ctx.lineTo(0, 10);
                ctx.lineTo(-5, 0);
                // ctx.fill();
                ctx.closePath();
                ctx.rect(-robotSize[0]/2*(pxToFeet/12), -robotSize[1]/2*(pxToFeet/12), robotSize[0]*(pxToFeet/12), robotSize[1]*(pxToFeet/12))
                ctx.stroke();
                ctx.resetTransform();
            }

            update();

            window.onresize = function() {
                canvas.width = canvas.clientWidth;
                canvas.height = canvas.clientHeight;
                canvasWidthUnits = canvas.width / pxToFeet;
                canvasHeightUnits = canvas.height / pxToFeet;
            }
            window.onresize();
            
            function update() {
                ctx.strokeStyle = "white";
                ctx.fillStyle = "white";
                ctx.lineThickness = 2;

                // ENTER SCREEN SPACE
                ctx.resetTransform()
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                
                // drawRobot(new Point(canvas.width/2, canvas.height/2), 10, 5, heading + Math.PI / 2);
                drawRobot(new Point(canvas.width/2, canvas.height/2), heading + Math.PI / 2);
                
                // ENTER WORLD SPACE
                var p = screenSpaceToWorldSpace(points[points.length - 1]);
                p = Point.sub(p, new Point(canvas.width/2, canvas.height/2));
                ctx.translate(-p.x, -p.y);
                
                // console.log(points)
                for (let i = 0; i < points.length - 1; i++) {
                    drawLine(screenSpaceToWorldSpace(points[i]), screenSpaceToWorldSpace(points[i+1]));
                }
                ctx.strokeStyle = red;
                ctx.fillStyle = red + "33";
                obstacles.forEach(poly => {
                    // console.log(poly.points)
                    ctx.beginPath();
                    ctx.moveTo(poly.points[0].x, poly.points[0].y);
                    for (let i = 1; i < poly.points.length; i++) {
                        ctx.lineTo(poly.points[i].x, poly.points[i].y);
                    }
                    ctx.lineTo(poly.points[poly.points.length - 1].x, poly.points[poly.points.length - 1].y);
                    ctx.closePath();
                    ctx.stroke();
                    ctx.fill();
                });
                
                window.requestAnimationFrame(update);
            }
        }
    </script>
</head>
<body>
    <div id="top-bar">
        <img id="icon" src="../static/images/icon-small.png"/>
        <span id="icon-text">KDriver Station</span>
    </div>
    <div id="container">
        <div id="left">
            <div id="img-container">
                <img id="img-stream"  src="{{ url_for('stream') }}" onerror="this.src='../static/images/no-cam.png'"></img>
            </div>
            <div id="ws-logs-container">
                <table id="ws-logs-header" class="head">
                    <tr>
                        <td style="width: 15%;">Time</td>
                        <td style="width: 10%;">Code</td>
                        <td style="width: 75%;">Message</td>
                    </tr>
                </table>
                <div class="inner-table">
                <table>
                    <tr>
                        <td style="width: 15%;">12:12:12</td>
                        <td style="width: 10%;">404</td>
                        <td style="width: 75%;">test msg</td>
                    </tr>
                </table>
                </div>
                <div class="table-footer"></div>
            </div>
        </div>
        <div id="mid"></div>
        <div id="right">
            <canvas id="canvas" style="width: 100%; aspect-ratio: 2.5; background-color: var(--dark2);"></canvas>
        </div>
    </div>
</body>
</html>